html {
    background: white;
}

header, footer, article, section, nav, menu { 
   display: block;
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    margin: auto;
    max-width: 4928px;
    width: 90%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #005287;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

h1 {
	font-size: 180%;
	color: white;
}

h2 {
	font-size: 130%;
	color: #016db3;
}

h3 {
	font-size: 130%;
	color: #005287;
}

.mainheader {
	background-color: #005287;
	color: white;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 170px;
}

.logo {
	padding-left: 0px;
	padding-right: 0px;

}

.logo-main {
	padding-left: 10px;
	max-height: 150px;
}

.title-main {
	text-align: right; 
  	top: 60%;
}

.title-desc {
	text-align: right; 
  	top: 70%;
}

.mainbody {
	display: -webkit-flex;
	display: flex;
	margin: 0;
}

.mainimg {
    padding-left: 0px;
    padding-right: 0px;
}

.galaryimg {
    padding-left: 0px;
    padding-right: 0px;
}

.caption {
	text-align: center;
	margin-bottom: 30px;
}

.footer {
	background-color: #005287;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.footer-text {
	color:lightgray;
	font-style: italic;
	text-align: center;

}
